<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5BEYGBPXTF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-5BEYGBPXTF');
  </script>

  <title>Pi Search</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
  <meta name="viewport" content="width=device-width">
</head>

<body class="has-background-white-ter">
  <section style="background-color:#19a974;" class="hero is-small">
    <div class="hero-body">
      <div class="container has-text-centered ">
        <p class="title has-text-white is-1">Pi Search</p>
        <p class="subtitle has-text-white" style="line-height:0;">Find the point of appearance of Pi.</p>
        <p class="has-text-white" style="line-height:1;">円周率の中から探します</p>
      </div>
    </div>
  </section>

  <section>
    <div style="width:350px" class="container has-text-centered box has-background-white">
      <form action="/" method="post">
        <label class="has-text-black" for="input">Input search target</label>
        <div class="field">
          <div class="control is-large">
            <input type="text" id="inputBox" name="target"
              class="input is-large is-warning has-text-centered has-background-white-ter has-text-black"
              autocomplete="off" placeholder="search target input!" value="{{ result_target }}" />
          </div>
          <p class="has-text-danger" id="message"></p>
          <p class="has-text-danger" id="messageJP"></p>
        </div>
        <button disabled id="submitButton" type="submit" class="button is-rounded magnifying-glass">
          <!--is-loading-->
          <span>Search!</span>
          <span class="icon is-small">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </form>
    </div>
  </section>

  <section>
    <br>
    <br>
  </section>

  {% if result_pos != "" %}
  <section class="has-text-black">
    <div style="width:350px" class="has-text-black container has-text-centered box has-background-white">
      <h1 class="has-text-black title is-1 is-spaced">Result</h1>
      <h4 class="has-text-black subtitle is-4" style="line-height:1;">Search target</h4>
      <p class="has-text-black is-size-3" style="line-height:0;">"{{ result_target }}"</p>
      <br />
      <br />
      <h4 class="has-text-black subtitle is-4" style="line-height:1;">Appearance position is</h4>
      <p class="has-text-black is-size-3 has-text-weight-semibold" style="line-height:0;">{{ result_pos }}</p>
      <p class="has-text-black" style="line-height:5;">桁目に出現</p>
      <p class="has-text-black">The 3. is not counted.</p>
    </div>
  </section>
  {% endif %}

  <section>
    <br>
    <br>
  </section>


  <footer style="background-color:#19a974;" class="footer has-text-white">
    <p class="has-text-centered has-text-weight-semibold">
      hosted by <a href="https://www.shuttle.rs/" target="_blank">"Shuttle"</a> and written in the <a
        href="https://www.rust-lang.org/" target="_blank">"Rust"</a>.
    </p>
    <br>
    <p class="has-text-centered">
      <a class="button is-black" href="https://github.com/genhirano/PiSearch_Shuttle" target="_blank">
        project github : <span class="icon"><i class="fab fa-github"></i></span>
      </a>
    </p>
    <br>

    <p class="has-text-centered">
      Copyright © 2022-2024 genhirano
    </p>
    <p class="has-text-centered">
      All Rights Reserved
    </p>
    <p align="center">
      <a class="button is-link" href="https://www.facebook.com/genhirano" target="_blank">
        contact : <span class="icon"><i class="fab fa-facebook"></i></span>
      </a>
      <a class="button is-black" href="https://github.com/genhirano" target="_blank">
        contact : <span class="icon"><i class="fab fa-github"></i></span>
      </a>
    </p>
  </footer>

  <script>
    const inputBox = document.getElementById('inputBox');
    const message = document.getElementById('message');
    const messageJP = document.getElementById('messageJP');
    const submitButton = document.getElementById('submitButton');

    inputBox.addEventListener('input', () => {
      const value = inputBox.value;
      let errorMessage = '';
      let errorMessageJP = '';

      if (value === '') {
        errorMessage = 'Input is required.';
        errorMessageJP = '入力が必要です。';
      }

      if (!/^[0-9]{1,6}$/.test(value)) {
        errorMessage = 'Must be a (0-9) and Up to 6 chars';
        errorMessageJP = '数字(0-9)、最大6桁まで';
      }

      // Display the error message
      message.textContent = errorMessage;
      messageJP.textContent = errorMessageJP;

      submitButton.disabled = errorMessage !== '';

      if (errorMessage !== '') {
        inputBox.classList.add('is-warning');
      } else {
        inputBox.classList.remove('is-warning');
      }


    });
  </script>

</body>

</html>